*{
  font-family: 'Titillium Web', sans-serif;
}
.grid-container {
    display: grid;
 grid-template-areas:  
   "header header header header header"
    "search main main main main main"
    "search f1 f2 f3 f4";

/* grid-template-columns:  10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; */
grid-template-rows: 20% 20% 20% 20% 20% ;
grid-template-columns: 20% 20% 20% 20% 20% 20% 20%;
grid-gap: 10px;
max-width: 100%;
margin: auto;


}

.grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 20px 0;
    font-size: 30px;
    
  }

  .item1 {
    grid-column: 1 / 6;
    grid-row: 1 / 1;
    background-color: #538fd9b3;
    text-align: center;
    max-height: 15vh;
    font-weight: 900;
    font-family: 'Titillium Web', sans-serif;
  }
  .item2 {
    grid-column: 1 / 1;
    grid-row: 2 / 6;
    background-color: rgb(255, 255, 255);
  }
  .item3 {
    grid-column: 2 / 6;
    grid-row: 2 / 4;
    background-color: rgb(255, 255, 255);
  }
  .item4 {

    grid-column: 2 / 6;
    grid-row: 4 / 5;
    background-color: rgb(255, 255, 255);
  }


.titles {
  text-align: center;
  font-size: 23px;
}

  .past-searches {
    display: block;
    background-color: #23283544;
    margin: 4px;
    border-radius: 5px;
    text-align: center;
    color: black;
    width: 100%;



}

  .city-name {
      text-align: left;
  }

  .current {
    text-align: left;
    font-size: 15px;
    display: inline;
  }

  .currentCityName {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    display: inline;
  }

.forecast-card {
    height: auto;
    width: auto;
    display: inline-block;
    align-self: center;
    margin: 15px;
    background-color: #538fd955;

}

.forecast-title {
    font-size: 25px;
    margin-top: 5px;
    text-align: center;

}
  .card-text {
      font-size: 15px;
      text-align: center;

  }
  
  #search-section {
      width: 100%;
  }

  #user-input {
      width: 70%;
      margin-right: 0px;
  }

  .current-img {
    align-self: left;
    display: block;
  }
  .forecast-image {
    align-self: center;
  }

  #searchBtn {
    background-color:#23283544;
    color: #020613bf;
    border-color: black;
  }
  .the-date {
    margin-bottom: 0;
    display: inline;
    margin-left: 5px;
    font-size: 15px;
  }

  